<mat-nav-list role="navigation" class="list-horizontal">
  <a mat-list-item routerLink="examples/observable-handle-button-clicks" routerLinkActive="activeLink" >Observable Handle clicks</a>
  <a mat-list-item routerLink="examples/http-test" routerLinkActive="activeLink">http-test</a>
  <a mat-list-item routerLink="examples/pokemon" routerLinkActive="activeLink">Pokemon</a>
  <a mat-list-item routerLink="examples/todo" routerLinkActive="activeLink">Todo</a>
  <a mat-list-item routerLink="examples/material" routerLinkActive="activeLink">Material</a>
</mat-nav-list>
